$('#checkbox-' +<%=@item.id %>).removeClass('glyphicon-unchecked').addClass('glyphicon-check');
$('#item-' +<%=@item.id %>).css({"text-decoration":"line-through"}).delay(1000).fadeOut();
$('.js-items-count').html("<h4><%= pluralize(@list.items.count, 'item')%></h4>");